/* Varables */
:root {
  /* Color */
  --clr-primary-200: #f3eed9;
  --clr-primary-400: red;

  /* Neutral Colors */
  --clr-neutral-100: #fff;
  --clr-neutral-900: #222c2a;

  /* Font Family */
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Playfair Display", serif;
}
/* CSS Reseting */
/* *,
*::after,
*::before {
  background: var(--clr-primary-200);
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
  flex-flow: row wrap;
} */
/* 
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background: #000;
  color: whitesmoke;
  box-shadow: 1px 1px 10px #ddd;
  margin: 1rem;
  font-size: 2rem;
} */

/* .box:first-child {
  flex-grow: 4;
  flex-shrink: 3;
  display: flex;
  align-self: flex-end;
  border: 2px solid red;
} */

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  background: deepskyblue;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #1565c0;
}


@media all and (max-width:762px){
  .navigation{
justify-content: space-around;
  }
}
@media all and (max-width:520px){
  .navigation{
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a{
    padding: 12px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(0, 0, 0, .3);
  }
  .navigation li:last-of-type a{
    border-bottom: none;
  }
  /* .navigation li a:last-child{
    border-bottom: none;
  } */
}




/* @media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
} */
