* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.375rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Style Links */
.header {
  background-color: #f1f1f1;
  padding: 0.5em;
}
.menu {
  gap: 2rem;
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
.menu li,
a {
  text-decoration: none;
  list-style-type: none;
  color: #333;
}

.menu li:hover {
  display: block;
  /* padding-inline: 1rem; */
}
.menu a:hover {
  transition: 0.5s ease-out;
  background-color: coral;
  color: crimson;
}
.main-wrapper {
  display: flex;
}
.columns {
  padding: 0.625rem;
  height: 18.75rem;
}

.left-column,
.right-column {
  background-color: #ddd;
  text-align: center;
  -ms-flex: 1;
  flex: 1;
}

.middle-column {
  flex: 2;
  text-align: center;
  background-color: #333;
}
.footer {
  background-color: #ddd;
  text-align: center;
  font-weight: bold;
  padding: 0.725rem;
}

/* Adding Responsiveness */
@media (max-width: 600px) {
  .main-wrapper {
    flex-direction: column;
  }
}
